In [21]:
import requests
import json
import pandas as pd

url = 'https://crashviewer.nhtsa.dot.gov/CrashAPI/crashes/GetCaseDetails?stateCase=10003&caseYear=2014&state=1&format=json'
view = requests.get(url)
#view.json().keys

In [47]:
#view.json()

In [23]:
view.json().keys()

dict_keys(['Count', 'Message', 'Results', 'SearchCriteria'])

In [51]:
viewdata = view.json()['Results']
viewdata = viewdata[0][0]
#viewdata.iteritems()
#viewdata.values()
#viewdata.keys()
crashresult = viewdata['CrashResultSet']['CEvents']
HAA = pd.DataFrame(crashresult)
HAA
#pd.DataFrame(viewdata.values())

,AOI1,AOI1NAME,AOI2,AOI2NAME,CaseYear,EVENTNUM,SOE,SOENAME,STATE,STATENAME,ST_CASE,VNUMBER1,VNUMBER2
0,12,12 Clock Point,8,8 Clock Point,2014,1,12,Motor Vehicle In-Transport,1,Alabama,10003,1,2
1,55,Non-Harmful Event,55,Non-Harmful Event,2014,2,63,Ran Off Roadway - Right,1,Alabama,10003,2,5555
2,98,Not Reported,77,Not a Motor Vehicle,2014,3,30,Utility Pole/Light Support,1,Alabama,10003,2,9999

In [18]:
Dataview = pd.DataFrame(viewdata)
Dataview.head(6)

                                      CrashResultSet
0  {'ARR_HOUR': '3', 'ARR_HOURNAME': '3:00am-3:59...