In [6]:
import requests
import json
import pandas as pd


url = 'https://api.nhtsa.gov/products/vehicle/makes?modelYear=2021&issueType=r'
#url = 'https://api.nhtsa.gov/products/vehicle/makes'
car = requests.get(url)
car.json()

{'meta': {'status': 200,
  'messages': [],
  'pagination': {'count': 20,
   'max': 20,
   'offset': 0,
   'sort': 'id',
   'order': None,
   'total': 2543,
   'currentUrl': 'https://api.nhtsa.gov/vehicles/makes?offset=0&max=20&sort=id',
   'nextUrl': 'https://api.nhtsa.gov/vehicles/makes?offset=20&max=20&sort=id',
   'previousUrl': None},
  'filters': None,
  'decoder': []},
 'results': [{'make': '.'},
  {'make': '3 TON UTILITY'},
  {'make': '4 GUYS'},
  {'make': '4 TON UTILITY'},
  {'make': '4-STAR'},
  {'make': '4-STAR TRAILER'},
  {'make': '4-STAR TRAILERS'},
  {'make': '5STARR'},
  {'make': '6504510106'},
  {'make': 'A&J VANS'},
  {'make': 'A. GIRARDIN INC.'},
  {'make': 'A.C.E.'},
  {'make': 'AASV'},
  {'make': 'ABC'},
  {'make': 'ABI'},
  {'make': 'ABS/TRAK'},
  {'make': 'ABU'},
  {'make': 'AC'},
  {'make': 'ACCUBUILT'},
  {'make': 'ACCURATE'}]}

In [7]:
cardata = car.json()['results']
cardata

[{'make': '.'},
 {'make': '3 TON UTILITY'},
 {'make': '4 GUYS'},
 {'make': '4 TON UTILITY'},
 {'make': '4-STAR'},
 {'make': '4-STAR TRAILER'},
 {'make': '4-STAR TRAILERS'},
 {'make': '5STARR'},
 {'make': '6504510106'},
 {'make': 'A&J VANS'},
 {'make': 'A. GIRARDIN INC.'},
 {'make': 'A.C.E.'},
 {'make': 'AASV'},
 {'make': 'ABC'},
 {'make': 'ABI'},
 {'make': 'ABS/TRAK'},
 {'make': 'ABU'},
 {'make': 'AC'},
 {'make': 'ACCUBUILT'},
 {'make': 'ACCURATE'}]

In [8]:
car_set = pd.DataFrame(cardata)
car_set.head(6)

             make
0               .
1   3 TON UTILITY
2          4 GUYS
3   4 TON UTILITY
4          4-STAR
5  4-STAR TRAILER

In [9]:
car_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   make    20 non-null     object
dtypes: object(1)
memory usage: 288.0+ bytes